<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-lgpush-3 col-md-push-3">
            <div class="text-center">
                <h1><strong>{{title}}</strong> </h1>
                <p>{{todaydate}}</p>
                <hr>
                <p>
                    {{description}}
                </p>
            </div>
        </div>
    </div><div class="row">
        <div class="col-lg-6 col-md-6 col-lg-push-3 col-md-push-3">
            <form>
                <div class="form-group">
                    <select class="form-control">
                        <option *ngFor="let month of months">{{month}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-push-2 col-md-push-2">
            <ng-container *ngIf="isAvailable; else elseTemplate">
                <div class="alert alert-succcess">
                    <p>
                        <strong>Note: </strong>Yes It is available
                    </p>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="alert alert-danger">
                    <p>
                        <strong>Note: </strong>NO It is  not available
                    </p>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <app-new-comp></app-new-comp>
        <app-new-comp></app-new-comp>
        <app-new-comp></app-new-comp>
        <app-new-comp></app-new-comp>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <ul class="list-group">
                <li *ngFor="let item of persondata; let i=index" class="list-group-item">{{item.name}}</li>
            </ul>
        </div>
    </div>
</div>


<router-outlet></router-outlet>